{% extends 'base.html.twig' %}
{% block title %}ModifierLivre{% endblock %}
{% block body %}
<section class="main-banner" id="top">
    <div class="container-lg">
{{ form_start(form) }}
{{ form_widget(form) }}
{{ form_end(form) }}
    </div>
</section>
{% endblock %}